.body{
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    width: 200px;
    height: 350px;
    background-color: rgb(251, 175, 33);
    padding: 15px;
    line-height: 30px;
    text-align: center;
    border: 3px solid rgb(213, 142, 11);
}

.output{
    display: flex;
    flex-direction: column;
    width:150px;
    height:180px;
    background-color: rgb(246, 213, 164);
    align-self: center;
    justify-self: center;
    padding: 10px;
    margin-top:20px;
}
.number{
    padding: 5px;
    outline: none;
}

.show{
    position: relative;
    top: -30px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.restart{
    justify-self: center!important;
    align-self: center!important;
}

.head{
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: underline;
}
.display{
    display: none!important;
}

.button{
    display: flex;
    justify-self: end;
    margin-top: -20px;
    padding: 5px;
    width: 60px;
    text-align: center;
    justify-content: center;
    border: 0;
    background-color: rgb(110, 177, 9);
    color: aliceblue;
    border-radius: 2px;
    font-weight: bold;
    transition: all 300ms;

}

.button:hover{
    box-shadow: 1px 1px 2px rgba( 0, 0, 0, .8);
}

.design{
    display: inline;
    position: relative;
    top: 7px;
    left: -50px;
}

